.div1
{
    color: white;
    background-color: palevioletred;
    width: 20%;
    height: 5%;
    padding-left: 10px;
}


.h1
{
    color: palevioletred;
}
.bb
{
   font-size: 25px;
   text-decoration: underline;
}
.div3 li
{
text-decoration: underline;
color: blue;
padding: 5px;
}

.table, th, td {
    border: 1px solid black;
    padding: 2px;
  }
  .table
  {
    border: 5px solid black;
    padding: 2px;
      border-spacing: 10px;
  }

  .div5
  {
      text-decoration: underline;
      color: blue;
  }
